%nav.app-title.navbar.navbar-expand-md.navbar-light.bg-light
    - if user_signed_in?
        %ul.navbar-nav.ml-auto
            - if current_user.admin?
                %li.navitem#admin_navbar
                    %ul.navbar-nav.ml-auto
                        %li.navitem
                            = link_to t('.admin_games'), admin_games_path, class: "nav-link"
                        %li.navitem
                            = link_to t('.admin_badges'), admin_badges_path, class: "nav-link"
                        %li.navitem
                            = link_to t('.item_genres'), admin_item_genres_path, class: "nav-link"
                    
            %li.navitem
                = link_to t('.games'), games_path, class: 'nav-link'
            %li.navitem
                = link_to t('.mypage'), user_path(current_user), class: 'nav-link'
            %li.navitem
                = link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link'
