<h1 class="mb-5"><%= t('.sign_up') %></h1>
<div class="mb-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-row" >
      <div class="form-group col-sm-6" >
        <%= f.label :lastname %>
        <%= f.text_field :lastname, class: 'form-control' %>
      </div>
      <div class="form-group col-sm-6" >
        <%= f.label :firstname %>
        <%= f.text_field :firstname, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, class: 'form-control' %>
    </div>

    <div class="form-row">
      <%= f.label :birthdate, class: 'pt-1 ml-2' %><br />
      <%= f.date_select :birthdate, {use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)}, {class: "form-group form-control col-sm-3 ml-3"} %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= "(#{t('.password_conditions')})"%></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
