- breadcrumb :user_user_message_posts
%h1.mb-5
    = t '.title'

.form-group
    = link_to t('.all_read'), user_all_read_user_message_posts_path, method: :post, class: 'btn btn-success mr-2'

%table.table.table-hover.table-bordered.text-nowrap#user_message_posts
    %thead
        %th 
            = UserMessagePost.human_attribute_name(:subject)
        %th 
            = UserMessagePost.human_attribute_name(:created_at)
    %tbody
        - @user_message_posts.each do |user_message_post|
            - if user_message_post.already_read
                %tr{bgcolor: '#CCCCCC', "@click": "onClick($event)", "data-href": user_user_message_post_path(id: user_message_post.id, user_id: current_user.id)}
                    %td
                        = user_message_post.subject
                    %td
                        = user_message_post.created_at
            - else 
                %tr{"@click": "onClick($event)", "data-href": user_user_message_post_path(id: user_message_post.id, user_id: current_user.id)}
                    %td
                        = user_message_post.subject
                    %td
                        = user_message_post.created_at
