- breadcrumb :edit_admin_badge
%h1.mb-5
    = t('.title')

= form_with(model: [@badge], url: admin_badge_path, local: true) do |f|
    = render 'shared/error_messages', model: f.object

    .form-group
        = f.label :name
        = f.text_field :name, required: true, maxlength: 30, class: 'form-control'
    .form-group
        = f.label :description
        = f.text_area :description, cols: "20", rows: "5", maxlength: 200, class: 'form-control'
    .form-group
        = f.label :item_trade_count_condition
        = f.number_field :item_trade_count_condition, value: 1, required: true, min: 1, class: 'form-control'
    .form-group
        = f.label :rank_condition
        = f.number_field :rank_condition, value: 0, required: true, min: -2, max: 4, class: 'form-control'
    .form-group 
        = f.label :game_id, Game.human_attribute_name(:title)
        = f.select :game_id, [[@badge.game.title, @badge.game.id]], {include_blank: t('include_blank')}, {class: 'form-control', 'v-on:change': 'onSelectedChange($event)'}
    .form-group#image_app
        = f.label :image_icon
        = f.file_field :image_icon, accept: 'image/*', "@change": "onFileChange($event)", class: 'form-control-file'
        -# 画像のプレビュー
        .mt-3
            %img{":src": "imageData", v: {if: "imageData"}, style: "width: 30%"}
            %div{"v-else": true}
                - if @badge.image_icon.present?
                    = image_tag(@badge.image_icon_url, style: 'width: 30%')
                - else  
                    = t 'empty'
    .form-group
        .form-check
            = f.check_box :all, {class: 'form-check-input', 'v-on:change': 'onSelectedChange($event)'}, true, false
            = f.label :all, t('.all'), class: 'form-check-label'

    .form-group
        = f.submit nil, class:'btn btn-primary'