= form_with model: item_trade_chat, url: item_trade_detail_item_trade_chats_path(item_trade_detail_id: item_trade_chat.item_trade_detail_id) do |f|
    = f.hidden_field :item_trade_detail_id
    = f.hidden_field :sender_is_seller
    .form-group
        = f.text_area :message, class: 'form-control', rows: '1', maxlength: '200'
    .form-group
        = f.submit t('helpers.submit.send'), class: 'btn btn-primary btn-block disabled', id: 'balloon-button'