-# チャット機能 locals item_trade_queue, item_trade_chat
%h5.mb-3
    = t('.chat')
#item_trade_chat.overflow-auto.mb-3{"data-item_trade_detail_id": item_trade_queue.item_trade_detail.id}
    = render(partial: 'item_trade_details/item_trade_chats/balloon', collection: item_trade_chats, as: 'item_trade_chat')

#item_trade_chat_forms
    .row.mb-3
        -# 画像送信用フォーム
        .col-3.d-block
            = form_with model: item_trade_chat, url: item_trade_detail_item_trade_chats_path(item_trade_detail_id: item_trade_chat.item_trade_detail_id), id: 'item_trade_chat_image_form' do |f|
                = f.hidden_field :item_trade_detail_id, id: ''
                = f.hidden_field :sender_is_seller, id: ''
                = f.hidden_field :message, value: nil, id: ''
                = f.label :image, t('.image_upload'), class: 'btn btn-outline-dark w-100'
                = f.file_field :image, accept: 'image/*', "@change": "onFileChange($event)"
                = f.submit nil, style: 'display:none;', id: 'item_trade_chat_image_form_submit'
            
        -# フレンドコード、PSNIDなど登録済みID用フォーム
        .col-3.d-block
            = form_with model: item_trade_chat, url: item_trade_detail_item_trade_chats_path(item_trade_detail_id: item_trade_chat.item_trade_detail_id), id: 'item_trade_chat_code_form' do |f|
                = f.hidden_field :item_trade_detail_id
                = f.hidden_field :sender_is_seller

                .dropdown
                    %button.dropdown-toggle.btn.btn-outline-dark#codes_dropdown.w-100{"data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
                        = t('.send_code')
                    .dropdown-menu.w-100{"aria-labelledby": "codes_dropdown"}
                        - if @user.nintendo_friend_code
                            = f.radio_button(:message, "#{NintendoFriendCode.human_attribute_name(:friend_code)}:#{@user.nintendo_friend_code.friend_code}", style: 'display: none', "@change": "onChange($event)")
                            = f.label :message, NintendoFriendCode.human_attribute_name(:friend_code), value: "#{NintendoFriendCode.human_attribute_name(:friend_code)}:#{@user.nintendo_friend_code.friend_code}", class: 'dropdown-item'
                        - if @user.play_station_network_id
                            = f.radio_button(:message, "#{PlayStationNetworkId.human_attribute_name(:psn_id)}:#{@user.play_station_network_id.psn_id}", style: 'display: none', "@change": "onChange($event)")
                            = f.label :message, PlayStationNetworkId.human_attribute_name(:psn_id), value: "#{PlayStationNetworkId.human_attribute_name(:psn_id)}:#{@user.play_station_network_id.psn_id}", class: 'dropdown-item'
                = f.submit nil, style: 'display:none;', id: 'item_trade_chat_code_form_submit'
        -# 定形文用フォーム
        .col-3.d-block
            = form_with model: item_trade_chat, url: item_trade_detail_item_trade_chats_path(item_trade_detail_id: item_trade_chat.item_trade_detail_id), id: 'item_trade_chat_fixed_phrase_form' do |f|
                = f.hidden_field :item_trade_detail_id
                = f.hidden_field :sender_is_seller

                .dropdown
                    %button.dropdown-toggle.btn.btn-outline-dark#fixed_phrases_dropdown.w-100{"data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
                        = t('.send_fixed_phrase')
                    .dropdown-menu.w-100{"aria-labelledby": "fixed_phrases_dropdown"}
                        - @user.fixed_phrases.each do |fixed_phrase|
                            = f.radio_button(:message, fixed_phrase.text, style: 'display: none', "@change": "onChange($event)")
                            = f.label :message, fixed_phrase.name, value: fixed_phrase.text, class: 'dropdown-item'
                = f.submit nil, style: 'display:none;', id: 'item_trade_chat_fixed_phrase_form_submit'
        .col-3.d-block
    
    .row
        .col
            -# メッセージ送信用フォーム
            = form_with model: item_trade_chat, url: item_trade_detail_item_trade_chats_path(item_trade_detail_id: item_trade_chat.item_trade_detail_id), id: 'item_trade_chat_message_form' do |f|
                = f.hidden_field :item_trade_detail_id
                = f.hidden_field :sender_is_seller
                .form-group
                    = f.text_area :message, class: 'form-control', rows: '1', maxlength: '200'
                .form-group
                    = f.submit t('helpers.submit.send'), class: 'btn btn-primary btn-block disabled', id: 'item_trade_chat_message_button', "@click": "onClick()"

= javascript_pack_tag 'item_trade_chat'