.item-trade
    .user-game-rank{class: "user-game-rank-#{item_trade.user_game_rank.rank}"}
        = item_trade.user_game_rank.rank_name
    .user-badges
        = trade_badges(item_trade.user.user_badges)
    .user.element-frame
        .head
            = ItemTrade.human_attribute_name(:user_nickname)
        .name.float-right
            = item_trade.user.nickname
    .buy
        .item-genre-name.element-frame
            .head
                = ItemTrade.human_attribute_name(:buy_item_genre_name)
            .name.float-right
                = item_trade.buy_item.item_genre.name
        .item-name.element-frame
            .head
                = ItemTrade.human_attribute_name(:buy_item_name)
            .name.float-right
                = item_trade.buy_item.name
        .item-quantity.element-frame
            .head
                = ItemTrade.human_attribute_name(:buy_item_quantity)
            .name.float-right
                = item_trade.buy_item_quantity
    .sale
        .item-genre-name.element-frame
            .head
                = ItemTrade.human_attribute_name(:sale_item_genre_name)
            .name.float-right
                = item_trade.sale_item.item_genre.name
        .item-name.element-frame
            .head
                = ItemTrade.human_attribute_name(:sale_item_name)
            .name.float-right
                = item_trade.sale_item.name
        .item-quantity.element-frame
            .head
                = ItemTrade.human_attribute_name(:sale_item_quantity)
            .name.float-right
                = item_trade.sale_item_quantity
    .link
        = link_to t('link_to.show'), user_item_trade_path(id: item_trade.id, user_id: current_user.id), class: 'btn btn-dark btn-block'