- breadcrumb :new_game
%h1.mb-5
    = t('.title')

= form_with(model: [@game], url: admin_games_path, local: true) do |f|
    = render 'shared/error_messages', model: f.object
    .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
    
    .form-group#image_app
        = f.label :image_icon
        = f.file_field :image_icon, accept: 'image/*', "@change": "onFileChange($event)", class: 'form-control-file'
        %img.mt-3{":src": "imageData", v: {if: "imageData"}, style: "width: 30%"}

    .form-group
        = f.submit nil, class:'btn btn-primary'


= javascript_pack_tag 'image_prev'
