- breadcrumb :mypage
%h1.mb-5
    = t '.title'
%h2
    = current_user.nickname
%p 
    = link_to t('.edit_user'), edit_user_registration_path(current_user), class: 'btn btn-success'

%p
    = link_to t('.codes'), codes_path, class: 'btn btn-primary'

%p
    = link_to t('.fixed_phrases'), fixed_phrases_path, class: 'btn btn-primary'

%p
    = link_to t('.user_message_posts'), user_user_message_posts_path(current_user), class: 'btn btn-outline-secondary'

%p
    = link_to t('.user_item_trades'), user_user_item_trades_path(current_user), class: 'btn btn-light'

%p
    = link_to t('.user_item_trade_queues'), user_item_trade_queues_path(current_user), class: 'btn btn-outline-primary'

%h3.mb-2
    = t('.recent_user_game_rank')

- @user_game_ranks.each do |user_game_rank|
    %table.table.table-hover.table-bordered.text-nowrap
        %tbody
            %tr 
                %td 
                    = Game.human_attribute_name(:title)
                %td 
                    = user_game_rank.game.title
            %tr 
                %td 
                    = UserGameRank.human_attribute_name(:rank)
                %td{class: "user-game-rank-#{user_game_rank.rank}"}
                    = user_game_rank.rank_name

%h3.mb2
    = t('.reaction_wait_item_trades')

.item_trades
    = render(partial: 'users/shared/reaction_wait_item_trade_queue', collection: @reaction_wait_item_trade_queues, as: 'item_trade_queue') 
