- breadcrumb :mypage
%h1.mb-5
    = t '.title'


%p 
    = link_to t('.edit_user'), edit_user_registration_path(@user), class: 'btn btn-success'

%p
    = link_to t('.codes'),codes_path, class: 'btn btn-primary'

%p
    = "過去の取引一覧"

%h3.mb-2
    = t '.enable_trades'

- @item_trades.each do |item_trade|
    %table.table.table-hover.table-bordered.text-nowrap
        %tbody
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:game_title)
                %td 
                    = item_trade.game.title
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:user_nickname)
                %td 
                    = item_trade.user.nickname
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:buy_item_genre_id)
                %td 
                    = item_trade.buy_item.item_genre.name
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:buy_item_name)
                %td 
                    = item_trade.buy_item.name
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:buy_item_quantity)
                %td 
                    = item_trade.buy_item_quantity
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:sale_item_genre_id)
                %td 
                    = item_trade.sale_item.item_genre.name
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:sale_item_name)
                %td 
                    = item_trade.sale_item.name
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:sale_item_quantity)
                %td 
                    = item_trade.sale_item_quantity
            %tr 
                %td 
                    = ItemTrade.human_attribute_name(:trade_deadline)
                %td 
                    = item_trade.trade_deadline
            %tr
                %td{colspan: 2}
                    = link_to t('link_to.edit'), edit_game_item_trade_path(id: item_trade.id, game_id: item_trade.game_id), class: 'btn btn-success mr-2'
                    = link_to t('link_to.delete'), game_item_trade_path(id: item_trade.id, game_id: item_trade.game_id), method: :delete, data: {confirm: t('confirm.simple_destroy', name: ItemTrade.model_name.human)}, class: 'btn btn-danger'



