- breadcrumb :codes
%h1.mb-5 
    = t '.title'

- if @nintendo_friend_code
    %h4
        = NintendoFriendCode.model_name.human
    = @nintendo_friend_code.friend_code
    = link_to '編集', edit_codes_nintendo_friend_code_path(@nintendo_friend_code), class: 'btn btn-success'
    = link_to '削除', codes_nintendo_friend_code_path(@nintendo_friend_code), method: 'delete', data: {confirm: t('confirm.simple_destroy', name: NintendoFriendCode.model_name.human)}, class: 'btn btn-danger'
- else
    = link_to '登録', new_codes_nintendo_friend_code_path, class: 'btn btn-primary'
