- breadcrumb :codes
%h1.mb-5 
    = t '.title'

- if @nintendo_friend_code
    %h4
        = NintendoFriendCode.model_name.human
    = @nintendo_friend_code.friend_code
    = link_to t('link_to.edit'), edit_codes_nintendo_friend_code_path(@nintendo_friend_code), class: 'btn btn-success'
    = link_to t('link_to.delete'), codes_nintendo_friend_code_path(@nintendo_friend_code), method: 'delete', data: {confirm: t('confirm.simple_destroy', name: NintendoFriendCode.model_name.human)}, class: 'btn btn-danger'
- else
    = link_to t('link_to.create'), new_codes_nintendo_friend_code_path, class: 'btn btn-primary'
