- breadcrumb :item_trades
%h1.mb-5 
    = t '.title'

= link_to t('link_to.create'), games_path, class: 'btn btn-primary mb-3'


.mb-5
    = search_form_for @q do |f|
        .form-group
            = f.label :buy_item_name, ItemTrade.human_attribute_name(:buy_item_name)
            = f.search_field :buy_item_name_cont, class: 'form-control'
        .form-group
            = f.label :sale_item_name, ItemTrade.human_attribute_name(:sale_item_name)
            = f.search_field :sale_item_name_cont, class: 'form-control'
        .form-group
            = f.submit t('helpers.submit.search'), class: 'btn btn-success'

.form_group.mb-3
    = search_form_for @q, url: item_trades_path, html: {method: :get} do |f|
        = f.select(:sorts, {'取引開始日時の近い順': 'updated_at desc', '購入数量の少ない順': 'buy_item_quantity asc'},{selected: params[:q][:sorts]}, class: 'select-sort form-control', 'v-on:change': 'onSelectedChange($event)')

- @item_trades.each do |item_trade|
    .table-responsive
        %table.table.table-hover.table-bordered.text-nowrap
            %tbody
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:user_nickname)
                    %td 
                        = item_trade.user.nickname
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:buy_item_name)
                    %td 
                        = item_trade.buy_item.name
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:buy_item_quantity)
                    %td 
                        = item_trade.buy_item_quantity
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:sale_item_name)
                    %td 
                        = item_trade.sale_item.name
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:sale_item_quantity)
                    %td 
                        = item_trade.sale_item_quantity
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:trade_deadline)
                    %td 
                        = item_trade.trade_deadline
                %tr
                    %td{colspan: 2}
                        = link_to t('link_to.edit'), edit_item_trade_path(item_trade), class: 'btn btn-success mr-2'
                        = link_to t('link_to.delete'), item_trade_path(item_trade), method: :delete, data: {confirm: t('confirm.simple_destroy', name: ItemTrade.model_name.human)}, class: 'btn btn-danger'
                    

= javascript_pack_tag 'select_sort'



