- breadcrumb :edit_game_item_trade, @item_trade
%h1.mb-5
    = t('.title')

= form_with(model: [@item_trade], url: game_item_trade_path, local: true) do |f|
    = render 'shared/error_messages', model: f.object

    .table-responsive.mb-5
        %table.table.table-hover.text-nowrap
            %tbody
                %tr 
                    %td
                        = f.label :buy_item_genre_id, ItemTrade.human_attribute_name(:buy_item_genre_name)
                    %td
                        = @item_trade.buy_item.item_genre.name
                %tr 
                    %td
                        = f.label :buy_item_name
                    %td
                        = @item_trade.buy_item.name
                %tr 
                    %td
                        = f.label :buy_item_quantity
                    %td
                        = f.number_field :buy_item_quantity, min: 1, max: 200000000, class: 'form-control'

    .table-responsive
        %table.table.table-hover.text-nowrap
            %tbody
                %tr 
                    %td
                        = f.label :sale_item_genre_id, ItemTrade.human_attribute_name(:sale_item_genre_name)
                    %td
                        = @item_trade.sale_item.item_genre.name
                %tr 
                    %td
                        = f.label :sale_item_name
                    %td
                        = @item_trade.sale_item.name
                %tr 
                    %td
                        = f.label :sale_item_quantity
                    %td
                        = f.number_field :sale_item_quantity, min: 1, max: 200000000, class: 'form-control'
    .form-group
        = f.label :numeric_of_trade_deadline, t('.trade_deadline')
        = f.number_field :numeric_of_trade_deadline, min: 1, max: 24, class: 'form-control'
    .form-group
        = f.submit nil, class:'btn btn-primary'