- breadcrumb :game_item_trades, params[:game_id]

%h1.mb-5 
    = t '.title'

= link_to t('.new_trade'), new_game_item_trade_path(game_id: params[:game_id]), class: 'btn btn-primary mb-3'

.mb-5
    = search_form_for @q, url: game_item_trades_path do |f|
        .form-group
            = f.label :buy_item_genre_id, ItemTrade.human_attribute_name(:buy_item_genre_name)
            = f.select :custom_buy_item_item_genre_id_eq, @selectable_item_genres.map{|item_genre| [item_genre.name, item_genre.item_genre_id]}, {include_blank: '選択なし'}, class: 'form-control'
        .form-group
            = f.label :buy_item_name_cont, ItemTrade.human_attribute_name(:buy_item_name)
            = f.search_field :custom_buy_item_name_cont, class: 'form-control'

        .form-group
            = f.label :sale_item_genre_id, ItemTrade.human_attribute_name(:sale_item_genre_name)
            = f.select :custom_sale_item_item_genre_id_eq, @selectable_item_genres.map{|item_genre| [item_genre.name, item_genre.item_genre_id]}, {include_blank: '選択なし'}, class: 'form-control'
        .form-group
            = f.label :sale_item_name, ItemTrade.human_attribute_name(:sale_item_name)
            = f.search_field :custom_sale_item_name_cont, class: 'form-control'
            
        .form-group
            = f.submit t('helpers.submit.search'), class: 'btn btn-success'
        .form-group
            = f.select(:sorts, {'取引開始日時の近い順': 'updated_at desc', '購入数量の少ない順': 'buy_item_quantity asc'},{selected: params[:q][:sorts]}, class: 'select-sort form-control', 'v-on:change': 'onSelectedChange($event)')
        
.item-trades#item_trades
    - @item_trades.each do |item_trade|
        .item-trade
            .user-game-rank{class: "user-game-rank-#{item_trade.user_game_rank.rank}"}
                = item_trade.user_game_rank.rank_name
            .user-badges
                = trade_badges(item_trade.user.user_badges)
            .user.element-frame
                .head
                    = ItemTrade.human_attribute_name(:user_nickname)
                .name.float-right
                    = item_trade.user.nickname
            .buy
                .item-genre-name.element-frame
                    .head
                        = ItemTrade.human_attribute_name(:buy_item_genre_name)
                    .name.float-right
                        = item_trade.buy_item.item_genre.name
                .item-name.element-frame
                    .head
                        = ItemTrade.human_attribute_name(:buy_item_name)
                    .name.float-right
                        = item_trade.buy_item.name
                .item-quantity.element-frame
                    .head
                        = ItemTrade.human_attribute_name(:buy_item_quantity)
                    .name.float-right
                        = item_trade.buy_item_quantity
            .sale
                .item-genre-name.element-frame
                    .head
                        = ItemTrade.human_attribute_name(:sale_item_genre_name)
                    .name.float-right
                        = item_trade.sale_item.item_genre.name
                .item-name.element-frame
                    .head
                        = ItemTrade.human_attribute_name(:sale_item_name)
                    .name.float-right
                        = item_trade.sale_item.name
                .item-quantity.element-frame
                    .head
                        = ItemTrade.human_attribute_name(:sale_item_quantity)
                    .name.float-right
                        = item_trade.sale_item_quantity
            .trade-deadline.element-frame
                .head
                    = ItemTrade.human_attribute_name(:trade_deadline)
                .name.float-right
                    = item_trade.trade_deadline
            .link
                - if current_user.id == item_trade.user_id
                    = link_to t('link_to.show'), user_item_trade_path(id: item_trade.id, user_id: current_user.id), class: 'btn btn-dark btn-block'
                - else
                    = button_to t('.buy_queue'), user_item_trade_queues_path(user_id: current_user.id, item_trade_queue: {item_trade_id: item_trade.id}),  class: 'btn btn-buy btn-block'
                        
= pagenate(@page_item_trades)



