- breadcrumb :user_item_trades
%h1.mb-5 
    = t '.title'

.mb-5
    = search_form_for @q, url: user_user_item_trades_path do |f|
        .form-group
            = f.label :game_title, Game.human_attribute_name(:title)
            = f.search_field :game_title_cont, class: 'form-control'
        .form-group 
            = f.label :enabled_or_during_trade, ItemTrade.human_attribute_name(:enable_flag)
            = f.check_box :enabled_or_during_trade, {checked: params[:q][:enabled_or_during_trade].present?,class: 'form-check'}, checked_value = true, unchecked_value = false
        .form-group
            = f.label :buy_item_genre_id, ItemTrade.human_attribute_name(:buy_item_genre_name)
            = f.select :buy_item_item_genre_id, @selectable_item_genres.map{|item_genre| [item_genre.name, item_genre.id]}, {selected: params[:q][:buy_item_item_genre_id], include_blank: '選択なし'}, class: 'form-control'
        .form-group
            = f.label :buy_item_name, ItemTrade.human_attribute_name(:buy_item_name)
            = f.search_field :buy_item_name, value: params[:q][:buy_item_name], class: 'form-control'

        .form-group
            = f.label :sale_item_genre_id, ItemTrade.human_attribute_name(:sale_item_genre_name)
            = f.select :sale_item_item_genre_id, @selectable_item_genres.map{|item_genre| [item_genre.name, item_genre.id]}, {selected: params[:q][:sale_item_item_genre_id], include_blank: '選択なし'}, class: 'form-control'
        .form-group
            = f.label :sale_item_name, ItemTrade.human_attribute_name(:sale_item_name)
            = f.search_field :sale_item_name, value: params[:q][:sale_item_name], class: 'form-control'
            
        .form-group
            = f.submit t('helpers.submit.search'), class: 'btn btn-success'
        .form-group
            = f.select(:sorts, {'取引開始日時の近い順': 'updated_at desc', '購入数量の少ない順': 'buy_item_quantity asc'},{selected: params[:q][:sorts]}, class: 'select-sort form-control', 'v-on:change': 'onSelectedChange($event)')

.item_trades
    - @item_trades.each do |item_trade|
        %table.table.table-hover.table-bordered.text-nowrap
            %tbody
                %tr 
                    %td 
                        = Game.human_attribute_name(:title)
                    %td 
                        = item_trade.game.title
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:buy_item_genre_name)
                    %td 
                        = item_trade.buy_item.item_genre.name
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:buy_item_name)
                    %td 
                        = item_trade.buy_item.name
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:buy_item_quantity)
                    %td 
                        = item_trade.buy_item_quantity
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:sale_item_genre_name)
                    %td 
                        = item_trade.sale_item.item_genre.name
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:sale_item_name)
                    %td 
                        = item_trade.sale_item.name
                %tr 
                    %td 
                        = ItemTrade.human_attribute_name(:sale_item_quantity)
                    %td 
                        = item_trade.sale_item_quantity

                - if item_trade.enable_flag && item_trade.trade_deadline != "ERROR" && item_trade.enable_item_trade_queue.user_id.nil? # 取引有効 AND 期限有効 AND 購入されていない
                    %tr 
                        %td
                            = ItemTrade.human_attribute_name(:trade_deadline)
                        %td
                            = item_trade.trade_deadline
                - item_trade_enable_or_sold =(item_trade.trade_deadline != "ERROR" || item_trade.enable_item_trade_queue.user_id)
                - if item_trade.enable_flag &&  item_trade_enable_or_sold# 取引有効 AND (期限有効 OR 購入されている)
                    %tr
                        %td{colspan: 2}
                            = link_to t('link_to.show'), user_user_item_trade_path(id: item_trade.id), class: 'btn btn-primary'
                - if !item_trade.enable_flag || !item_trade_enable_or_sold # 取引無効 OR !(期限有効 OR 購入されている)
                    %tr
                        %td{colspan: 2}
                            = link_to t('.edit'), edit_game_item_trade_path(id: item_trade.id, game_id: item_trade.game_id), class: 'btn btn-success'

%nav{"aria-label": "ページネーション"}
    %ul.pagination
        - @hash_pages.each do |key, value|
            - if value
                %li.page-item
                    = link_to key, user_user_item_trades_path(page_redirect_params(value)), class: 'page-link'
            - else
                %li.page-item.active
                    %a.page-link
                        = key

= javascript_pack_tag 'select_sort'