- breadcrumb :fixed_phrases

%h1.mb-5 
    = t '.title'

= link_to t('link_to.create'), new_fixed_phrase_path, class: 'btn btn-primary mb-3'

%table.table.table-hover.table-bordered.text-nowrap#fixed_phrases
    %thead.thead-light
        %tr 
            %th
                = FixedPhrase.human_attribute_name(:name)
    %tbody
        - @fixed_phrases.each do |fixed_phrase|
            %tr{"@click": "onClick($event)", "data-href": fixed_phrase_path(fixed_phrase)}
                %td
                    = fixed_phrase.name

= javascript_pack_tag 'fixed_phrases'
                    