- breadcrumb :edit_play_station_network_id, @play_station_network_id.id
%h1.mb-5
    = t('.title')

= form_with(model: [@play_station_network_id], url: codes_play_station_network_id_path, local: true) do |f|
    = render 'shared/error_messages', model: f.object
    .form-group
        = f.label :psn_id
        = f.text_field :psn_id, class: 'form-control'

    .form-group
        = f.submit nil, class:'btn btn-primary'
