<p><%= t('users.mailer.reset_password_instructions.greeting', fullname: @resource.decorate.fullname) %></p>

<p><%= t('users.mailer.reset_password_instructions.instruction') %></p>

<p><%= link_to t('users.mailer.reset_password_instructions.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('users.mailer.reset_password_instructions.instruction_2') %></p>
<p><%= t('users.mailer.reset_password_instructions.instruction_3') %></p>
