- breadcrumb :edit_item_genre, @item_genre.id
%h1.mb-5 
    = t '.title'

= form_with(model: [@item_genre], url: admin_item_genre_path, local: true) do |f|
    = render 'shared/error_messages', model: f.object
    .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .form-group
        = f.label :default_unit_name
        = f.text_field :default_unit_name, class: 'form-control'
    
    .form-group
        = f.submit nil, class:'btn btn-primary'